.loader-sync{
  top:0;
  width:100%;
  height:100%;
  position: fixed;
  z-index: 9999;
  background-color: black;
  opacity: 0.735;
}

.loader-img{
  position: absolute;
  top:50%;
  left:50%;
  text-align: center;
  z-index: 99;
}

.img-load{
    width: 200%;
    margin-left: -100%;
    margin-top: -73%;
}

.load-text{
    top: 20px;
    position: absolute;
    width: 500px;
    margin-left: -245px;
    margin-top: 15%;
    font-weight: bolder;
    color: #949494;
}

.load-text-res{
  position: absolute;
  width:500px;
  margin-left: -245px;
  font-weight: bolder;
  color: white;
}

.load-text-det{
  top:50px;
  position: absolute;
  width:500px;
  margin-left: -245px;
  color: #949494;
}

#loading-page{
    top:0;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 9999;
    background-color: #15191f;
}
